.content-player {
  display: grid;
  grid:
    "player" 1fr
    "btn" 100px
    / 1fr;

  height: 98vh;
  background-color: black;
  width: 98vw;
  border-radius: 10px;

  .player {
    grid-area: player;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .menuDevice {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    bottom: 20px;
    left: 20px;
    background-color: black;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid var(--purple);
  }

  .actionBtn {
    grid-area: btn;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .btn {
      border-radius: 50%;
      padding: 10px;
      border: 1px solid white;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      cursor: pointer;

      &.active {
        background-color: var(--purple);
      }

      &.delete {
        background-color: red;
      }
    }
  }
}

.contentMain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
