.content-player {
  display: grid;
  grid:
    "player" 1fr
    "btn" 100px
    / 1fr;

  height: 95%;

  .player {
    grid-area: player;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .actionBtn {
    grid-area: btn;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.contentMain {
  height: 100%;
}
