:root {
  --purple: #2a0845;
  --pik: #6441a5;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    var(--purple),
    var(--pik)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--purple),
    var(--pik)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.main {
  height: 100vh;
}
